/* body{
    background-color: rgb(183, 184, 185);
} */
.todo-container{
    margin:0 auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    row-gap: 25px;
    /* border: 1px solid rgb(118, 118, 118); */
    border-radius: 8px ;
    padding: 20px 20px ;
    /* background-color: rgb(255, 255, 255); */

}
.todo-title{
    color: brown;
    font-size:60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
}
.todo-new{
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
.todo-new input{
    width: 300px;
    border: 1px solid rgb(118, 118, 118); ;
    background-color: rgb(255, 255, 255);
    border-radius: 8px ;
    padding-left: 8px ;
}
.todo-new button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(88, 88, 255);
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 8px;
}
.todo-data{
    color: rgb(74, 74, 75);
    padding: 20px ;
    border-radius: 8px;
    background-color: rgb(238, 239, 240);
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.todo-image{
    text-align: center;
    margin: 15px 0 0 0 ;
}
.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
     .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  .todo-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .todo-item button {
    color: whitesmoke;
    background-color: rgb(96, 0, 96);
    width: 70px;
    height: 25px;
  }
  